#gameBoard {
    display: none;
    margin: 0 10%;
}

.board-cell {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.current-player {
    display: none;
}

#coinSample.board-cell {
    width: 30px;
    height: 30px;
    margin-top: 0;
}

.buttons-cell {
    width: 100px;
    height: 50px;
    margin: 10px;
}

.play-board {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.circle {
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    border: 1px solid #777777;
}

.player1 {
    background-color: #eb9316;
}

.player2 {
    background-color: #a94442;
}

.current-player {
    margin-right: 15px;
    margin-top: 5px;
}

#playerName {
    float: left;
    margin-top: 5px;
}